<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752071157980-f4uvi4nil8ftdi6o92qc1th40s124cev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752071157980-f4uvi4nil8ftdi6o92qc1th40s124cev</string>
	<key>API_KEY</key>
	<string>AIzaSyDAKVbNK7wq0N_MLC-C_czyrtuNsdDbnIw</string>
	<key>GCM_SENDER_ID</key>
	<string>752071157980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigjermaine.jamit</string>
	<key>PROJECT_ID</key>
	<string>jamit-328b0</string>
	<key>STORAGE_BUCKET</key>
	<string>jamit-328b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752071157980:ios:34eb922f4ae36379142c19</string>
</dict>
</plist>