<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959762958267-ha8k9j5hppvf2pcv1pjh4im3jksf4drl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959762958267-ha8k9j5hppvf2pcv1pjh4im3jksf4drl</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzuVlTc52RPcDKqq2OgN8wOwv_j_kslw</string>
	<key>GCM_SENDER_ID</key>
	<string>959762958267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigjermaine.jamit</string>
	<key>PROJECT_ID</key>
	<string>jermaine45-ad95a</string>
	<key>STORAGE_BUCKET</key>
	<string>jermaine45-ad95a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959762958267:ios:8df00ebdafb3df884ca69e</string>
</dict>
</plist>